<div class="login-wpr">
    <div class="login" *ngIf="!signup">
        <h2>Log in</h2>
        <span class="error" *ngIf="loginError.length">{{loginError}}</span>
        <form [formGroup]="loginForm">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="user@email.com" value="email" formControlName="email">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="********" value="password" formControlName="password">
            </mat-form-field>
        </form>
        <!-- <button mat-raised-button color="primary" routerLink="/dashboard">Log in</button> -->
        <button mat-raised-button color="primary" (click)="userLogin()">Log in</button>
        <p>Don't have an account? <a (click)="showSignup()">Sign up</a></p> 
        <!-- <button mat-raised-button color="primary" (click)="testLogin()">TEST Log in</button> -->

    </div>

    <div class="signup" *ngIf="signup">
        <h2>Sign Up</h2>
        <span class="error" *ngIf="loginError.length">{{loginError}}</span>
        <form [formGroup]="signupForm">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="" value="firstName" formControlName="firstName">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="" value="lastName" formControlName="lastName">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="" value="email" formControlName="email">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" placeholder="********" value="password" formControlName="password">
            </mat-form-field>
        </form>
        <button mat-raised-button color="primary" (click)="userSignup()">Sign up</button>
        <p>Or <a (click)="showLogin()">Log in</a> with your account</p>
    </div>
</div>