<header>
    <div class="header-left">
        <!-- <p>show buttons? {{isAuthenticated}}</p> -->
    </div>
    <div class="title">
        <h1>{{title}}</h1>
    </div>
    <div class="header-right">

            <a routerLink="/dashboard" *ngIf="isAuthenticated">Dashboard</a>
            <amplify-sign-out *ngIf="isAuthenticated"></amplify-sign-out>
    
            <!-- <div *ngIf="authState === 'signedin' && user" class="App">
                <amplify-sign-out></amplify-sign-out>
            </div> -->

        <!-- <a (click)="logout()" *ngIf="isUserLoggedIn">Logout</a> -->
        <!-- <a routerLink="/login" *ngIf="isUserLoggedIn">Logout</a> hide if user is logged out -->
    </div>
</header>